#main {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  align-items: stretch;
  min-width: 100px;
}

#editor {
  font: 14px source-code;
  border-radius: 7px;
   -webkit-flex: 1;
 }

