
#header-container {
  font-size: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 85px;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#play {
  background: none;
  background-image: url('../images/play-button.svg');
  border: 0;
  width: 33px;
  height: 34px;
  padding: 7px;
  font-size: 25px;
  display: inline;
  outline: 0; 
  float: left;
  margin-top: 8px;

  &.running {
    background-image: url('../images/stop-button.svg');
  }
}  



#button_header {
  margin-left: 15px;
  height: 50px;
  margin-bottom: 8px;
}

#project-name {
  font-size: 12px;
  padding-left: 20px;
  color: #b5b5b5;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default; 
  float:left;
}


#toolbar {
  height: 60px;
  width: 100%;
}

#actions {
  button {
    border: 0;
    cursor: pointer;
    background: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    outline: 0;
  }

  button, button img {
    width: 32px;
  }

  
  button img:hover {
    opacity: 0.6;
  }

  #add, #export {
    float: left;
  }

  #settings {
    float: right;
    margin-top: 10px;
  }
}

#tabs {
  margin-left: 53px;
  overflow: hidden;


  ul {
    list-style: none;
    padding:0;
    margin:0;
    white-space: nowrap;
  }

  li {
    margin: 0 0 0 0;
    display: inline-block;
  }
  
  div {
    display: inline-block;
    height: 30px;
    background-color: rgba(153, 153, 153, 0.1);
    width: 128px;
    text-align: center;
  }

  div.selected{
     background-color: rgba(153, 153, 153, 0.4);
  }

  li:first-child div {
    border-top-left-radius: 4px;
  }

  li:nth-last-child(2) div {
    border-top-right-radius: 4px;
  }

  a{
    display: inline-block;
    text-decoration: none;
    line-height: 2.4;
    text-align: center;
    color: #b5b5b5;
  }
  a.delete{
    color: #aaa;
    float: right;
    padding-right: 12px;
  }
  .selected a{
    color: #333333;
  }
}

#add {

  div {
    width: 30px !important;
    background-color: #ffffff;
  }
  a {
    width: 100%;
    display:block;
    color: #333333;
  }
}

