#play {
 background: none;
 background-image: url('../images/play-gray.svg');
 border: 0;
 width: 33px;
 height: 34px;
 padding: 7px;
 font-size: 25px;
 display: inline;
 cursor: pointer;
 outline: 0; 
 float: left;
 margin-top: 8px;
 &:hover {
  background-image: url('../images/play-green.svg');
}

&.running {
  background-image: url('../images/stop-gray.svg');

  &:hover {
    background-image: url('../images/stop-red.svg');
  }
}
}  

#button_header {
  margin-left: 15px;
  height: 50px;
  margin-bottom: 8px;
}

#project-name {
  padding-left: 20px;
  font-size: 24px;
  color: #58585b;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default; 
  float:left;
}


#toolbar {
  height: 60px;
  width: 100%;
}

#actions {
  margin: 10px;
  padding-top: 10px;
  overflow: auto;

  button {
    border: 0;
    cursor: pointer;
    background: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    outline: 0;
  }

  button, button img {
    width: 22px;
  }

  button img {
    opacity: .6;
  }

  button img:hover {
    opacity: 1;
  }

  #add, #export {
    float: left;
  }

  #settings {
    float: right;
  }
}

#tabs {
  margin-left: 45px;


  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    margin: 0 0 0 0;
    display: inline;
  }
  
  a {
    display: inline-block;
    height: 30px;
    background-color: #DCDCDC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 80px;
    text-decoration: none;
    line-height: 2.5;
    text-align: center;
    color: #000;
  }

  li.selected a{
    background-color: #fff;
  }

  a#add {
    min-width: 20px;
  }
}
