$light-gray-1: #eeeceb;
$light-gray-2: #e1dedc;
$light-gray-3: #c8c5c2;
$med-gray: #959595;
$dark-gray: #58585b;

#sidebar-container {
  -webkit-user-select: none;
  width: 100px;
  display: flex;
  position: relative;
}

#sidebar-container .expanded{
   width: 210px;
}

#sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.runfile {
  position: absolute;
  margin-left: -30px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #38B449;
  top: 4px;
  display: none;
  cursor: pointer;
  opacity: .4;
}

.runfile.mainfile {
  opacity: 1;
  display: block;
}

#sidebar-drag {
  flex: none;
  cursor: col-resize;
  background-color: none;
  position: absolute;
  width: 7px;
  height: 100%;
  right: 0;
  top: 0;
}



#filetree {
  margin-left: 12px;
  overflow: auto;
  flex: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      position: relative;

      div {
        padding: 3px;
        padding-left: 64px;
        cursor: pointer;
        color: $dark-gray;
      }

      div.selected {
        background-color: #f6f6f6;
        border-radius: 5px 0px 0px 5px;
      }

      ul li {
        div {
          padding-left: 85px;
        }

        ul li {
          div {
            padding-left: 106px;
          }

          ul li {
            div {
              padding-left: 127px;
            }
          }
        }
      }
    }
  }

  .toggle {
    top: 1px;
    left: 13px;
    position: absolute;
    width: 24px;
    margin-top: -2px;
    height: 24px;


    &.open {
      background-image: url('../images/expanded.svg');
    }

    &.closed {
      background-image: url('../images/collapsed.svg');
    }
  }

  .icon {
    width: 13px;
    height: 15px;
    position: absolute;
    top: 4px;
    margin-left: -20px;
    background-size: 13px auto;
    background-repeat: no-repeat;
  }

  .icon.file {
    background-image: url('../images/file1.svg');
  }

  .icon.db {
    background-image: url('../images/database.svg');
  }

  .icon.folder {
    background-image: url('../images/folder.svg');
    background-size: 17px auto;
    top: 5px;
    margin-left: -22px;
    width: 17px;
    height: 16px;
  }

  .icon.image {
    background-image: url('../images/image.svg');
  }
}
