#settingsContainer {
  position: absolute;
  background-color: #f4f4f4;
  top: 20px;
  right: 30px;
  z-index: 999;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.16);
  color: #fff;
  width: 276px;
  padding: 14px 14px 8px 19px;
}

#settingsPane {
  width: 100%;
  font-family: montserrat;
  font-size: 16px;

  #titleBar {
    font-family: montserrat-bold;
    font-size: 21px;
    color: rgba(51, 51, 51, 0.87);
  }

  #optionsZone {

    div {
      clear: both;
    }
  }

  .label {
    color: #333333;
    font-size: 16px;
  }

  .section {
    border-bottom: dashed 1px #b5b5b5;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 44px;
    height: 40px;
    border: 1px solid rgba(153, 153, 153, 0.4);
    color: #333333;
    background-color: #f4f4f4;
    font-size: 16px;
    font-family: inconsolata;
    text-align: center;
  }

  .adjustButton {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }

  input:focus {
    outline: 0;
  }

  .hiddenRadio {
    overflow: auto;

    input[type="radio"] {
      display:none;
    }

    input[type="radio"]:checked + label svg {
      fill: #e1dedc;

      &:hover {
        fill: #fff;
      }
    }

  }

  #selectable {
    &:hover {
      fill: #fff;
    }
  }

  #consoleText {
    position: relative;
    top: 5px;
  }

  .console {
    height: 40px;
    width: 70px;
    fill: #828384;
    transition: all 0.3s ease;


    &:hover {
      fill: #fff;
    }
  }

  #close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 15px;
    right: 14px;
  }

  #x {
    fill: #2F2F30;
    transition: all 0.1s ease;

    &:hover {
      fill: #fff;
      fill-opacity: 1;
    }
  }

  #consoleHorizontal {
    float: right;
  }

  #libraryIcon {
    width: 30px;
    float: left;
    position: relative;
  }


  #wordWrapIcon {
    width: 23px;
    float: left;
    position: relative;
    top: 10px;
    left: 5px;
  }

  #browserIcon {
    width: 23px;
    float: left;
    position: relative;
    top: 8px;
    left: 5px;
  }

  .fade {
    transition: all 0.3s ease;
  }

  .hiddenCheckbox {
    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
      background-color: #adacac;
      color: #828384;
        
        &:hover {
        background-color: #cdcccc;
      }
    }

    input[type="checkbox"]:checked + label {
      background-color: #e1dedc;
      color: #58585b;
        
        &:hover {
        background-color: #fefefc;
      }
    }
  }

  #tab {
    height: 10px;
    width: 15px;
    position: relative;
    top: 1px;
    left: -4px;
    fill: #828384;
    transition: all 0.3s ease;
  }

  #space {
    height: 10px;
    width: 15px;
    float: left;
    position: relative;
    top: 5px;
    left: 3px;
    fill: #828384;
    transition: all 0.3s ease;
  }

  #tabBox {
    float: right;
  }

  #spaceBox {
    float: left;
  }

  #indentOptions {
    position: relative;
    /* margin-bottom: 12px; */

    input[type="radio"]:checked + label {
      background-color: #e1dedc;
    }

    input[type="radio"] + label:hover {
      background-color: #fff;
    }
  }

  .indentSelection {
    color: #828384;
    display: inline-block;
    border-radius: 4px;
    // float: right;
    text-align: center;
    // width: 67px;
    width: 44%;
    transition: all 0.3s ease;
  }

}
