@font-face {
  font-family: inconsolata;
  src: url('../fonts/Inconsolata.otf');
}

@font-face {
  font-family: montserrat-bold;
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
}

body, html {
  background: #fdfdfd;
  color: #231f20;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px montserrat, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

.file-handler {
  display: none;
}
