#debug {
  background-color: #eeeeee;
  flex: 1;
  color: #333;
  overflow: auto;

  div {
    margin: 5px;
    a {
      color: #fff;
    }
  }
}

.error {
  color: red;
}

#debug-container {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  min-width: 10px;
  min-height: 10px;
}

#debug-drag {
  background-color: rgba(153, 153, 153, 0.5);
  width: 20px;
  cursor: col-resize;
}

body.horizontal {
  #debug-container {
    height: 100px;
    width: auto;
    flex-direction: column;
    margin-right: 0;
  }

  #debug-drag {
    height: 10px;
    width: auto;
    cursor: row-resize;
  }
}
