#debug {
  background-color: #eeeeee;
  flex: 1;
  color: #333;
  overflow: auto;

  div {
    margin: 5px;
    white-space: pre;
    a {
      color: #fff;
      background-color: #333;
    }
  }
}

.error {
  color: red;
}

#debug-container {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-width: 10px;
  min-height: 10px;
}

#debug-drag {
  background-color: rgba(153, 153, 153, 0.5);
  padding-top: 2px;
  height: 18px !important;
  cursor: col-resize;
  color: #b1b1b1;
  font-size: 12px;
}

.prompt-label {
  margin-left: 25px;
}

.console-label {
  margin-left: 23px;
}


body.horizontal {
  #debug-container {
    height: 100px;
    width: auto;
    flex-direction: column;
    margin-right: 0;
  }

  #debug-drag {
    height: 10px;
    width: auto;
    cursor: row-resize;
  }
}
